<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
    <title>
        {% block title %}
            Available
        {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/base.css">
</head>
<body>
    <nav>
        <div class="nav-logo"><a href="{% url 'index' %}">Availability</a></div>
        <div class="nav-link"><a href="{% url 'index' %}">Home</a></div>
		<div class="nav-link"><a href="{% url 'logout' %}">Log Out</a></div>
		<div class="nav-link"><a href="{% url 'index' %}">Profile</a></div>
		<div class="nav-link"><a href="{% url 'matches' %}">Matches</a></div>
        <div class="nav-link"><a href="{% url 'new_activity' %}">+Add Activity</a></div>
        <div class="nav-link"><a href="{% url 'new_availability' %}">+Add Availability</a></div>
	</nav>
{% block body %}
{% endblock %}
</body>
</html>