{% extends 'base.html' %}

{% block title %}
    Available - Homepage
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/static/index.css">

<span style="font-size:40px;">{{ test }} {{test2}}</span>
<div class="calendar-container">
    {% for day in week_data %}
    <div class="calendar-day-label">
        {{ day.0 }} {{ day.1 }} {{ day.2 }}
    </div>
    {% endfor %}
    {% for period in periods %}
    <div class="calendar-day">
        {% for availability, ratio, height in period %}
        <div class="calendar-availability" style="top:{{ ratio }}%; height:{{ height }}%;">
            {{ availability.start|time:'g:i A' }} - {{ availability.end|time:'g:i A' }}<br>
            {{ availability.activity }}<br>
            {{ availability.person.user.username }}<br>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
