{% extends 'base.html' %}

{% block title %}
    Available - Matches
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/static/matches.css">
	<div class="match-grid">
		{% if matches|length > 0 %}
			{% for match in matches %}
				{% for me, other, activity, start, end in match %}
					<div class="availability-header">Availability</div>
					<div class="col-1 flex">{{ other }}</div>
					<div class="col-2 flex">{{ activity }}</div>
					<div class="col-3 flex">{{ start }}</div>
					<div class="col-4 flex">{{ end }} </div>
				{% endfor %}
			{% endfor %}
		{% else %}
			<div class="">No one is doing anything when you are...</div>
		{% endif %}
	</div>
{% endblock %}