{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'form-template.html' %}
    <input type="submit" id="Submit" value="Submit"/>
</form>
<p>I will never send emails out to any emails registered here as this is only a demo of a project I am working on. Emails can even be blank or gibberish and will still be accepted as long as they contain an @ character.</p>
<p>If you don't want to register fee free to log on with username "testperson" and password "testing123" to try it out.</p>
{% endblock %}