@import url('https://fonts.googleapis.com/css?family=Kalam:700'); /*font-family: 'Kalam', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Kalam:700|Roboto+Condensed'); /*font-family: 'Roboto Condensed', sans-serif;*/

body
{
    padding:0;
    margin:0;
}

nav
{
    height:auto;
    width:calc(100% - 20px);
    background:#282832;
    padding:0 10px 0 10px;
    position:relative;
	display:-webkit-flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
}
.nav-logo
{
	flex-basis:99%;
	text-align:center;
    position:relative;
    font-family: 'Kalam', cursive;
    line-height:50px;
    color:#d9dbdd;
    font-size:1.2em;
	border-bottom:1px solid #595959;
}
.nav-logo a
{
	position:relative;
	color:#d9dbdd;
	text-decoration:none;
	top:0.2em;
}

.nav-link
{
	flex-basis:49%;
	height:30px;
	line-height:30px;
	text-align:center;
	border-bottom:1px solid #595959;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	color:#d9dbdd;
	text-decoration:none;
}
.nav-link a
{
	color:#d9dbdd;
	text-decoration:none;
}

/*NON-MOBILE STYLES*/
@media only screen and (min-width:650px)
{
	.nav-link
	{
		flex-basis:15%;
	}
	nav div:nth-of-type(1)
	{
		order:0;
	}
	nav div:nth-of-type(2)
	{
		order:1;
	}
	nav div:nth-of-type(3)
	{
		order:6;
	}
	nav div:nth-of-type(4)
	{
		order:5;
	}
	nav div:nth-of-type(5)
	{
		order:2;
	}
	nav div:nth-of-type(6)
	{
		order:3;
	}
	nav div:nth-of-type(7)
	{
		order:4;
	}
}