@import url('https://fonts.googleapis.com/css?family=Open+Sans');/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');/*font-family: 'PT Sans', sans-serif;*/
body
{
    position:absolute;
    top:0;
    height:calc(100vh - 60px);
    width:100%;
}
.calendar-container
{
    width:calc(100% - 10px);
    height:85%;
    font-size:0;
    margin:5px;
}
.calendar-day-label
{
    width:calc(100%/8 - 24px - 1px);
    height:calc(10% - 20px - 2px);
    padding:8px 12px 8px 12px;
    display:inline-block;
    background:#A8B3CD;
    border-left: 1px solid #6d80ab;
	border-top: 1px solid #6d80ab;
	border-bottom: 1px solid #6d80ab;
    font-size:12px;
    vertical-align:top;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
	font-weight:900;
    color:#595959;
}
.calendar-day
{
    position:relative;
    width:calc(100%/8 - 1px);
    height:calc(90% - 4px);
    display:inline-block;
    border-left:1px solid #93979f;
	border-bottom:1px solid #93979f;
    vertical-align:top;
    font-size:16px;
}
.calendar-availability
{
    position:absolute;
    width:100%;
    height:auto;
    font-size:12px;
	background:#e6e6e6;
	font-family: 'PT Sans', sans-serif;
	z-index:10;
}
.calendar-hour
{
    height:calc(4.167% - 3px);
    width:calc(100% - 4px);
    margin:1px;
    border:1px solid black;
}
.calendar-day-label-times
{
	width:calc(100%/8 - 28px);
    height:calc(10% - 20px);
    margin:2px;
    padding:8px 12px 8px 12px;
    display:inline-block;
    vertical-align:top;
}
.calendar-day-times
{
	position:relative;
    width:calc(100%/8);
    height:calc(90% - 4px);
    display:inline-block;
    vertical-align:top;
    font-size:16px;
	border-bottom:1px solid #93979f;
}
.calendar-time-period-hour
{
	height:calc(100%/24);
	width:calc(100% - 4px);
	font-size:8px;
	font-family: 'PT Sans', sans-serif;
}
.calendar-time-line
{
	position:relative;
	width:calc(800% + 32px);
	height:0;
	border-top:1px solid #999999;
	z-index:10;
	margin:0;
}
.calendar-date-nav
{
	background:#282832;
	width:calc(100% - 10px);
	height:calc(10% - 6px);
	margin:3px 5px 3px 5px;
	border-radius:2px;
}
.calendar-date-nav a
{
	position:relative;
	top:calc(50% - 12px);
	color:white;
	font-size:16px;
	font-family: 'PT Sans', sans-serif;
	text-decoration:none;
}
.calendar-date-nav a:hover
{
	text-decoration:underline;
}
.calendar-date-nav a:first-of-type
{
	margin-left:30px;
	float:left;
}
.calendar-date-nav a:last-of-type
{
	margin-right:30px;
	float:right;
}